<%- include('partials/head'); -%>
	<h1>Contacter <%= names[1] %> </h1>
	<ul>
		<% for(let name of names){ %>
			<li><%= name %></li>
		<% } %>		
	</ul>
	<p><%= ...names%></p>
<%- include('partials/footer'); -%>